@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<button @onclick=buttonClick> click me </button>
<p>You clicked on the button @timesClicked times most recently at @lastClicked</p>

@code
{
    int timesClicked = 0;
    DateTime lastClicked;
    void buttonClick()
    {
        timesClicked++;
        lastClicked = DateTime.Now;
    }
}